
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Miles Evans</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#tophome">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#topabout">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a href="assets/resume.pdf" target="_blank">Resume</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="assets/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Miles Evans</span>
                        <hr class="star-light">
                        <span class="skills"><i>Copywriter - Creative</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="top"></div>
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Louisiana</h2>
                    <hr class="star-primary">
                </div>
            </div>
              <div id="ancestry_info"><i>Louisiana is famous for its holy trinity. While you may think that I’m talking about the Cajun ingredients for gumbo, consisting of onions, carrots, and bell peppers, you’d be wrong. Louisiana’s real holy trinity is its food, music, and culture. This tourism campaign shows that when you take all three and mix them together, you get the world’s original melting pot. </div><br><br>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                        <a class='group2' href='/assets/louis-large.png'><img src="assets/louis.png" class="img-responsive" alt=""></a><br><center> Poster - Print
                </div>
                <div class="col-sm-4 portfolio-item">
                        <a class='group2' href='/assets/louis-large2.png'><img src="assets/louis2.png" class="img-responsive" alt=""></a><br><center> Poster - Print
                </div>
                <div class="col-sm-4 portfolio-item">
                        <a class='group2' href='/assets/louis-large1.png'><img src="assets/louis1.png" class="img-responsive" alt=""></a><br><center> Poster - Print
                    
                </div>
                
            </div>
        </div>
    </section>
    <div id="topabout"></div>
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Oh, hey there. My name is Miles and I’m a single copywriter looking for a nice agency to settle down with. I enjoy thinking about ads, writing ads, and yes, you guessed it, long walks on the beach as well. I bring strong conceptual skills to my voice as a writer. Using them in tandem to create the best possible ads I can. I prefer to take a humorous slant in my writing and I love dry and clever observations. However, its not like advertising is all I think about when I’m getting lost in the rain.</p>
                </div>
                <div class="col-lg-4">
                    <p>I grew up in San Francisco. Taking that opportunity to develop a strong love and knowledge of all things urban. Get with me and you’ll soon find out that I’m always into new things and very open-minded. When I’m not being creative for work, I enjoy writing the odd satirical article or inventing a new recipe from what’s left in my fridge. An agency that falls in love with me should expect a creative partner whose willing to do whatever it take to make things work.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                        
                
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                        <div class="row">
                        <center>
​                        <p>Email: milesjevans@gmail.com</p>
                        <p>Tel: (415) 828-5149</p>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>San Francisco, CA 94114</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://plus.google.com/u/0/118250637266813596029/posts" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/profile/view?id=240721851&trk=nav_responsive_tab_profile" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Available for freelance</h3>
                        <p><p>Created in <a href="http://startbootstrap.com"> Bootstrap</a>.</p <a href="http://startbootstrap.com">Miles Evans</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
// <script>
// $(document).ready(function(e){
//      $(".group2").colorbox({rel:'group2', slideshow:false});
// })
// </script>
</body>

